@page "/"
@using ProConsulta.Data.Repositorios.Interfaces
@using System.Globalization
@using ProConsulta.Models
@inject IAgendamentoRepositorio respositorio

<PageTitle>Home</PageTitle>

<MudText Typo="Typo.h3" GutterBottom="true">Home</MudText>

<div>
    <MudPaper Class="pa-4">
        <MudChart ChartType="ChartType.Bar"
                  ChartSeries="@Series"
                  XAxisLabels="@Labels"
                  ChartOptions="@options"
                  Width="100%"
                  Height="350px" />
    </MudPaper>
</div>

<div>
    <MudPaper Class="pa-4">
        <MudChart ChartType="ChartType.Pie"
                  InputData="@Data"
                  InputLabels="@Labels"                  
                  Width="300px%"
                  Height="300px"/>
    </MudPaper>
</div>


@code {
    private ChartOptions options = new ChartOptions
        {
            LineStrokeWidth = 20,
            YAxisTicks = 1
        };


    public List<ChartSeries> Series { get; set; } = new();
    public double[] Data { get; set; } = [];
    public string[] Labels { get; set; } = [];

    protected override async Task OnInitializedAsync()
    {
        var result = await respositorio.GetReportAsync();

        if (!result.Any())
            return;

        ConstruirGraficoBarra(result);
        ConstruirGraficoPizza(result);
    }

    private void ConstruirGraficoBarra(List<AgendamentoAnual> agendamentos)
    {
        Labels = agendamentos
            .Select(x => CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(x.Mes)).ToArray();

        var serie = new ChartSeries
            {
                Name = "Atendimentos Mensais",
                Data = agendamentos.Select(x => (double)x.Quantidade).ToArray()
            };

        Series.Add(serie);
    }

    private void ConstruirGraficoPizza(List<AgendamentoAnual> agendamentos)
    {
        Labels = agendamentos.Select(x => CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(x.Mes)).ToArray();
        Data = agendamentos.Select(x => (double)x.Quantidade).ToArray();
    }
}